{% extends 'shared/_layout.html' %}
{% block title %}
    تماس با ما
{% endblock %}
{% block content %}
<div id="contact-page" class="container">
    	<div class="bg">
    		<div class="row">
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">با ما در ارتباط باشیـد</h2>
	    				<div class="status alert alert-success" style="display: none"></div>

				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
				            {% csrf_token %}
                            <div class="form-group col-md-6">
                                {{ contact_forms.emile.label_tag }}
                                {{ contact_forms.emile }}
                                {{ contact_forms.emile.errors }}
                            </div>
                            <div class="form-group col-md-6{% if contact_forms.full_name.errors %} text-danger {% endif %}" >
                                {{ contact_forms.full_name.label_tag }}
                                {{ contact_forms.full_name }}
                                {{ contact_forms.full_name.errors }}
                            </div>
                            <div class="form-group col-md-12">
                                {{ contact_forms.title.label_tag }}
                                {{ contact_forms.title }}
                                {{ contact_forms.title.errors }}
                            </div>
                            <div class="form-group col-md-12">
                                {{ contact_forms.message.label_tag }}
                                {{ contact_forms.message }}
                                {{ contact_forms.message.errors }}
                            </div>
                                <button type="submit" class="btn btn-primary pull-right"> ارسـال </button>

				        </form>
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">اطلاعات تماس</h2>
	    				<address>
	    					<p>گـروه تکنوگـرافی 1614</p>
							<p>ایـران - آذربایجـان غربـی - خـوی</p>
							<p>مجتـمع تجـاری تفریحـی شمس - طبـقه 2 - پلاک 54</p>
							<p>تلفن تماس : 80 21 24 36 044</p>
							<p>فکس : 80 21 24 36 044</p>
							<p style="font-family: tahoma;">ایمیـل : info@1614GP.ir</p>
	    				</address>
	    			</div>
    			</div>
	    	</div>
    	</div>
    </div>
{% endblock %}